# Use glob syntax
syntax: glob

# Ignore logs
Log/

# Ignore local settings files
*.tcLS
*.tcCfgExtender

# Ignore backup files
*.bak

# Ignore image files
*.png
*.jpg

# Ignore directories that are for local machines only
Docs/
archive/
Production/
